@media screen and (min-width: 576px) {
    #outer_div {
        width: 75%;
    }
}

@mixin tablet-and-up {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin mobile-and-up {
    @media screen and (min-width: 601px) {
        @content;
    }
}

@mixin tablet-and-down {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: 600px) {
        @content;
    }
}

._duration {
    font-size: 0.8em;
}


ul,
.li {
    list-style: none;
    padding: 0;
}


.wrapper {
    padding: 2rem;
    border-radius: 15px;
}

.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

.li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #545454;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;

    &:last-child {
        border: 0px;
        padding-bottom: 0;
    }

    &:before {
        content: '';
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid #545454;
        // box-shadow: 3px 3px 0px #545454;
        // box-shadow: 3px 3px 0px #545454;
        border-radius: 50%;
        position: absolute;
        left: -8px;
        top: 0px;
    }
}

.time {
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    @include mobile-and-up {
        font-size: .9rem;
    }

    @include mobile-only {
        margin-bottom: .3rem;
        font-size: 0.85rem;
    }

}

p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0.4rem;

    @include mobile-only {
        font-size: .9rem;
    }
}