@media screen and (min-width: 576px) {
    #outer_div {
        width: 75%;
    }
}

@media screen and (min-width: 991px) {
    .card {
        width: 48%;
    }

    .card_project_info {
        // display: none;
        opacity: 0;
    }
}

.h4 {
    // font-family: sans-serif;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: monospace;
}


.card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 17em;
}



.card:hover .card_project_info {
    // display: block;
    opacity: 1;
    transition: .7s ease-in-out
}

.span_functionalities {
    background-color: #696869;
    font-size: 0.7em;
    padding: 3px 0;
}
