@media screen and (min-width: 991px) {
    footer {
        // margin-bottom: 100em;
        margin-bottom: 4.8em;
        width: 74%;
    }

    #foot_div {
        width: 30%;
        padding: 25px 5px;
    }
}

@media screen and (max-width: 991px) {
    footer {
        width: 100%;
    }

    #foot_div {
        padding: 10px 20px;
        background-color: rgba(192, 192, 192, 0.397);
        position: fixed;
        bottom: 0;
        z-index: 1;
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    #foot_div {
        width: 100%;
        margin: 0 auto;
    }
}
