@import "./scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    color: #545454;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5F4F7;
}

main {
    flex: 1 0 auto;
}